{%extends "admin_dashboard.html"%} {%block content%}
<div class="content">
  <div class="page-inner">
    <div class="page-header">
      <h4 class="page-title">Akun</h4>
      <ul class="breadcrumbs">
        <li class="nav-home">
          <a href="/home">
            <i class="flaticon-home"></i>
          </a>
        </li>
        <li class="separator">
          <i class="flaticon-right-arrow"></i>
        </li>
        <li class="nav-item">
          <a href="#">Daftar Akun</a>
        </li>
      </ul>
    </div>
    <div class="card">
      <div class="card-header">
        <div class="d-flex align-items-center">
          <h4 class="card-title">Daftar Akun</h4>
          <a class="btn btn-primary btn-round ml-auto" href="/admin/akun/form">
            <i class="fa fa-plus"></i>
            Tambah Data Baru
          </a>
        </div>
      </div>
      <div class="card-body">
        <div class="table-responsive">
          <div
            id="add-row_wrapper"
            class="dataTables_wrapper container-fluid dt-bootstrap4"
          >
            <div class="row">
              <div class="col-sm-12">
                <table
                  id="add-row"
                  class="display table table-striped table-hover dataTable"
                  role="grid"
                  aria-describedby="add-row_info"
                >
                  <thead>
                    <tr role="row">
                      <th
                        class="sorting_asc"
                        tabindex="0"
                        aria-controls="add-row"
                        rowspan="1"
                        colspan="1"
                        aria-sort="ascending"
                        aria-label="Name: activate to sort column descending"
                        style="width: 35px"
                      >
                        No
                      </th>
                      <th
                        class="sorting_asc"
                        tabindex="0"
                        aria-controls="add-row"
                        rowspan="1"
                        colspan="1"
                        aria-sort="ascending"
                        aria-label="Name: activate to sort column descending"
                        style="width: 359.125px"
                      >
                        NIK
                      </th>
                      <th
                        class="sorting"
                        tabindex="0"
                        aria-controls="add-row"
                        rowspan="1"
                        colspan="1"
                        aria-label="Position: activate to sort column ascending"
                        style="width: 523.891px"
                      >
                        Email
                      </th>
                      <th
                        class="sorting"
                        tabindex="0"
                        aria-controls="add-row"
                        rowspan="1"
                        colspan="1"
                        aria-label="Office: activate to sort column ascending"
                        style="width: 305.641px"
                      >
                        Hak Akses
                      </th>
                      <th
                        style="width: 122.344px"
                        class="sorting"
                        tabindex="0"
                        aria-controls="add-row"
                        rowspan="1"
                        colspan="1"
                        aria-label="Action: activate to sort column ascending"
                      >
                        Action
                      </th>
                    </tr>
                  </thead>
                  <tbody>
                    {% for user in users %}
                    <tr role="row" class="odd">
                      <td>{{ loop.index }}</td>
                      <td>{{ user.nik }}</td>
                      <td>{{ user.email }}</td>
                      <td>{{ user.hak_akses }}</td>
                      <td>
                        <div class="form-button-action">
                          <!-- Tombol Edit -->
                          <a
                            href="/admin/editakun/{{ user.id }}"
                            class="btn btn-link btn-primary btn-lg"
                            data-toggle="tooltip"
                            title="Edit Task"
                          >
                            <i class="fa fa-edit"></i>
                          </a>
                          <!-- Tombol Hapus dengan Konfirmasi -->
                          <button
                            type="button"
                            class="btn btn-link btn-danger"
                            data-toggle="tooltip"
                            title="Remove"
                            onclick="confirmDelete({{ user.id }})"
                          >
                            <i class="fa fa-times"></i>
                          </button>
                        </div>
                      </td>
                    </tr>
                    {% endfor %}
                  </tbody>
                </table>
              </div>
            </div>
            <div class="row">
              <div class="col-sm-12 col-md-5">
                <div
                  class="dataTables_info"
                  id="add-row_info"
                  role="status"
                  aria-live="polite"
                >
                  Showing 1 to 10 of 10 entries
                </div>
              </div>
              <div class="col-sm-12 col-md-7">
                <div
                  class="dataTables_paginate paging_simple_numbers"
                  id="add-row_paginate"
                >
                  <ul class="pagination">
                    <li
                      class="paginate_button page-item previous disabled"
                      id="add-row_previous"
                    >
                      <a
                        href="#"
                        aria-controls="add-row"
                        data-dt-idx="0"
                        tabindex="0"
                        class="page-link"
                        >Previous</a
                      >
                    </li>
                    <li class="paginate_button page-item active">
                      <a
                        href="#"
                        aria-controls="add-row"
                        data-dt-idx="1"
                        tabindex="0"
                        class="page-link"
                        >1</a
                      >
                    </li>
                    <li
                      class="paginate_button page-item next disabled"
                      id="add-row_next"
                    >
                      <a
                        href="#"
                        aria-controls="add-row"
                        data-dt-idx="2"
                        tabindex="0"
                        class="page-link"
                        >Next</a
                      >
                    </li>
                  </ul>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>


<!-- Konfirmasi Hapus Modal -->
<div class="modal fade" id="confirmDeleteModal" tabindex="-1" role="dialog" aria-labelledby="confirmDeleteModalLabel" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="confirmDeleteModalLabel">Konfirmasi Hapus Akun</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        Apakah Anda yakin ingin menghapus akun ini?
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Batal</button>
        <button type="button" class="btn btn-danger" id="confirmDeleteBtn">Hapus</button>
      </div>
    </div>
  </div>
</div>

<script>
  function confirmDelete(userId) {
    // Sesuaikan URL dengan rute Flask yang benar
    var deleteUrl = '/admin/deleteakun/' + userId;

    // Menampilkan modal konfirmasi
    $('#confirmDeleteModal').modal('show');

    // Menangani klik tombol Hapus pada modal konfirmasi
    $('#confirmDeleteBtn').on('click', function () {
      // Menggunakan AJAX untuk mengirim permintaan POST
      $.ajax({
        url: deleteUrl,
        method: 'POST',
        success: function (response) {
          // Menutup modal konfirmasi setelah berhasil
          $('#confirmDeleteModal').modal('hide');
          // Refresh halaman atau lakukan tindakan lain sesuai kebutuhan
          location.reload(true);
        },
        error: function (error) {
          console.error('Error deleting account:', error);
          $('#confirmDeleteModal').modal('hide');
          alert('Terjadi kesalahan saat menghapus akun.');
        }
      });
    });
  }
</script>


{%endblock%}
