{%extends "admin_dashboard.html"%} {%block content%}
<div class="content">
  <div class="page-inner">
    <div class="page-header">
      <h4 class="page-title">Pemeriksaan</h4>
      <ul class="breadcrumbs">
        <li class="nav-home">
          <a href="/home">
            <i class="flaticon-home"></i>
          </a>
        </li>
        <li class="separator">
          <i class="flaticon-right-arrow"></i>
        </li>
        <li class="nav-item">
          <a href="/admin/pemeriksaan">Daftar Pemeriksaan</a>
        </li>
        <li class="separator">
          <i class="flaticon-right-arrow"></i>
        </li>
        <li class="nav-item">
          <a href="#">Tambah Data</a>
        </li>
      </ul>
    </div>
    <div class="row">
      <div class="col-md-12">
        <div class="card">
          <div class="card-header">
            <div class="card-title">Form Tambah Data Pemeriksaan</div>
          </div>
          <form method="POST" action="/admin/pemeriksaan/tambah" enctype="multipart/form-data">
            <div class="card-body">
              <!-- Tanggal Pemeriksaan -->
              <div class="form-group">
                <label for="tanggal_pemeriksaan">Tanggal Pemeriksaan</label>
                <input
                  type="date"
                  class="form-control"
                  id="tanggal_pemeriksaan"
                  name="tanggal_pemeriksaan"
                  autofocus
                  required
                />
              </div>
              <!-- NIK Akun -->
              <div class="form-group">
                <label for="nik">NIK</label>
                <input
                  type="text"
                  class="form-control"
                  id="nik"
                  name="nik"
                  required
                />
              </div>

              <!-- Nama -->
              <div class="form-group">
                <label for="nama">Nama</label>
                <input
                  type="text"
                  class="form-control"
                  id="nama"
                  name="nama"
                  required
                />
              </div>
              <div class="form-group">
                <label for="nama_rs">Rumah Sakit</label>
                <select
                  class="form-control"
                  id="nama_rs"
                  name="nama_rs"
                  required
                >
                  <option disabled selected>Pilih Salah Satu</option>
                  <option value="RS. Dokter Suselectedsilo">RS. Dokter Susilo</option>
                  <option value="RSUD Brebes">RSUD Brebes</option>
                  <option value="RSUD Ir. Soekarno">RSUD Ir. Soekarno</option>
                </select>
              </div>
              <div class="form-group">
                <label for="foto_rontgen">Foto Rontgen</label>
                <input type="file" class="form-control-file" id="foto_rontgen" name="foto_rontgen">
              </div>
            </div>
            <!-- Tombol Submit -->
            <div class="card-action">
              <button type="submit" class="btn btn-success">Submit</button>
              <a href="/admin/pemeriksaan" class="btn btn-danger">Kembali</a>
            </div>
          </form>
        </div>
      </div>
    </div>
  </div>
</div>
{%endblock%}
