{%extends "index.html"%} {%block content%}
<main id="main">
  <section>
      <div class="row">
          <div class="col-lg-8 offset-lg-2">
              <div class="section-title">
                <h2>Artikel Kesehatan</h2>
              </div>
              <div class="row">
                <div class="col-md-6 mb-4">
                  <div class="card border-0">
                    <div class="card-body">
                      <h5 class="card-title">Judul Artikel 1</h5>
                      <p class="card-text">
                        Ut velit est quam dolor ad a aliquid qui aliquid. Sequi ea ut et est quaerat sequi nihil ut aliquam. Occaecati alias dolorem mollitia ut. Similique ea voluptatem. Esse doloremque accusamus repellendus deleniti vel. Minus et tempore modi architecto.
                      </p>
                      <a href="#" class="btn btn-success">Baca Selengkapnya</a>
                    </div>
                  </div>
                </div>
    
                <div class="col-md-6 mb-4">
                  <div class="card border-0">
                    <div class="card-body">
                      <h5 class="card-title">Judul Artikel 2</h5>
                      <p class="card-text">
                        Ut velit est quam dolor ad a aliquid qui aliquid. Sequi ea ut et est quaerat sequi nihil ut aliquam. Occaecati alias dolorem mollitia ut. Similique ea voluptatem. Esse doloremque accusamus repellendus deleniti vel. Minus et tempore modi architecto.
                      </p>
                      <a href="#" class="btn btn-success">Baca Selengkapnya</a>
                    </div>
                  </div>
                </div>
    
                <div class="col-md-6">
                  <div class="card border-0">
                    <div class="card-body">
                      <h5 class="card-title">Judul Artikel 3</h5>
                      <p class="card-text">
                        Ut velit est quam dolor ad a aliquid qui aliquid. Sequi ea ut et est quaerat sequi nihil ut aliquam. Occaecati alias dolorem mollitia ut. Similique ea voluptatem. Esse doloremque accusamus repellendus deleniti vel. Minus et tempore modi architecto.
                      </p>
                      <a href="#" class="btn btn-success">Baca Selengkapnya</a>
                    </div>
                  </div>
                </div>
    
                <div class="col-md-6">
                  <div class="card border-0">
                    <div class="card-body">
                      <h5 class="card-title">Judul Artikel 4</h5>
                      <p class="card-text">
                        Ut velit est quam dolor ad a aliquid qui aliquid. Sequi ea ut et est quaerat sequi nihil ut aliquam. Occaecati alias dolorem mollitia ut. Similique ea voluptatem. Esse doloremque accusamus repellendus deleniti vel. Minus et tempore modi architecto.
                      </p>
                      <a href="#" class="btn btn-success">Baca Selengkapnya</a>
                    </div>
                  </div>
                </div>
              </div>
          </div>
      </div>
  </div>
  </section>
</main>
{%endblock%}
