{%extends "index.html"%} {%block content%}
<main id="main">
  <section>
      <div class="row">
          <div class="col-8 offset-2">
            <div class="row mt-3">
              <!-- Artikel 1 -->
                  <div class="card">
                      <div class="card-body">
                        <div class="section-title">
                          <h2>{{ article.judul }}</h2>
                          <h6 class="card-subtitle mb-2 text-muted text-center">Penulis: {{ article.penulis }}</h6>
                        </div>
                        <img
                        src="{{ url_for('static', filename='assets/gambar/artikel/miniparu.jpg' ) }}"
                        alt="Gambar Rontgen" width="40%" class="img-fluid rounded mx-auto mb-2 d-block" style="margin-top: -30px;"
                      />
                          <p class="card-text">
                            {{ article.isi | safe  }}
                          </p>
                          <p class="card-text">
                            <small class="text-muted">Divalidasi Oleh: Dr. Kevin Kurniawan</small><br>
                            <small class="text-muted">Tanggal Publikasi: {{ article.tanggal_publikasi }}</small> <br>
                            <small class="text-muted">Kategori: {{ article.kategori }}</small>
                          </p>
                      </div>
                  </div>
            </div>
            </div>
          </div>
      </div>
  </div>
  </section>
</main>
{%endblock%}
