{%extends "dokter_dashboard.html"%} {%block content%}
<div class="content">
  <div class="page-inner">
    <div class="page-header">
      <h4 class="page-title">Deteksi</h4>
      <ul class="breadcrumbs">
        <li class="nav-home">
          <a href="/home">
            <i class="flaticon-home"></i>
          </a>
        </li>
        <li class="separator">
          <i class="flaticon-right-arrow"></i>
        </li>
        <li class="nav-item">
          <a href="/dokter/deteksi">Deteksi</a>
        </li>
      </ul>
    </div>
    <div class="row">
      <div class="col-md-4">
        <div class="card">
          <div class="card-body">
            <h5 class="card-title mb-3">Upload File Rontgen</h5>
            <form
              id="upload-form"
              action="{{url_for('upload_tbc')}}"
              method="POST"
              enctype="multipart/form-data"
            >
              <input
                type="file"
                class="btn-dark form-control-file"
                name="file"
                accept="image/*"
              />
              <input
                type="submit"
                class="btn btn-outline-light rounded mt-3"
                value="Diagnose"
              />
            </form>
          </div>
        </div>
      </div>
      <div class="col-md-8">
        <div class="card">
          <div class="card-body">
            <h5 class="card-title"  style="text-align: center;">Hasil Deteksi</h5>
          </div>
        </div>
      </div>
    </div>

    <div class="row row-card-no-pd">
      <div class="col-md-12">
        <div class="card">
          <div class="card-header">
            <div class="card-head-row">
              <h5 class="card-title">Riwayat Hasil Deteksi</h5>
            </div>
          </div>
          <div class="card-body">
            <table class="table">
              <thead>
              <tr>
                  <th scope="col">#</th>
                  <th scope="col">Nomor</th>
                  <th scope="col">NIK Pasien</th>
                  <th scope="col">Tanggal Pemeriksaan</th>
                  <th scope="col" width="150px">Tenaga Medis</th>
                  <th scope="col">Status</th>
                  <th scope="col" width="100px">Gambar Rontgen</th>
                  <th scope="col">Hasil Analisa</th>
              </tr>
              </thead>
              <tbody>
              <!-- Data riwayat skrining akan ditampilkan di sini -->
              <tr>
                  <th scope="row">1</th>
                  <td>SKR001</td>
                  <td>1234567890</td>
                  <td>2023-11-14</td>
                  <td>Rumah Sakit XYZ<br>
                    Oleh Dr. John Doe</td>
                  
                  <td><button class="btn btn-danger">Positive</button></td>
                  <td ><img src="{{ url_for('static', filename='xray/file.png') }}" alt="Gambar Rontgen" style="max-width: 200px;">
                  <a href="URL_GAMBAR" download>Download X-Ray</a>
                  </td>
                  <td>Setelah melakukan pemeriksaan dan analisis, pasien ditemukan memiliki indikasi Tuberkulosis (TBC). Beberapa temuan klinis yang mendukung diagnosa ini termasuk:
                    Gambar rontgen menunjukkan adanya infiltrasi, kavitasi, atau opasitas yang konsisten dengan infeksi tuberkulosis.
                    Pasien mengalami gejala seperti batuk yang berkepanjangan, berat badan menurun, demam, dan kelelahan.
                    Hasil tes laboratorium menunjukkan adanya Mycobacterium tuberculosis. <br>
                    <strong>Rekomendasi:</strong>
                    Pasien direkomendasikan untuk segera memulai pengobatan Tuberkulosis di bawah pengawasan dokter spesialis paru. Pengobatan yang tepat dan konsisten sangat penting untuk mengatasi infeksi dan mencegah penyebaran lebih lanjut.
                    Kami menyarankan agar pasien segera menjadwalkan konsultasi lebih lanjut dengan dokter spesialis paru untuk perencanaan pengobatan yang lebih rinci dan pemantauan kondisi kesehatan secara berkala.</td>
              </tr>
              <!-- Tambahkan baris ini untuk setiap data riwayat skrining yang ada -->
      
              </tbody>
            </table>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
{%endblock%}
