{%extends "dokter_dashboard.html"%} {%block content%}
<div class="content">
  <div class="page-inner">
    <div class="page-header">
      <h4 class="page-title">Deteksi</h4>
      <ul class="breadcrumbs">
        <li class="nav-home">
          <a href="/home">
            <i class="flaticon-home"></i>
          </a>
        </li>
        <li class="separator">
          <i class="flaticon-right-arrow"></i>
        </li>
        <li class="nav-item">
          <a href="/dokter/datadeteksi">Data Pemeriksaan</a>
        </li>
      </ul>
    </div>
    <div class="row">
      <div class="col-md-4">
        <div class="card">
          <div class="card-body">
            <h5 class="card-title mb-3">Daftar Pemeriksaan Pasien</h5>
            <form
              id="upload-form"
              action="{{url_for('dokter_datadeteksi')}}"
              method="POST"
            >
              <div class="form-group p-0">
                <label for="data_pasien">Data Pasien</label>
                <select
                  class="form-control"
                  id="data_pasien"
                  name="data_pasien"
                  required
                >
                  
                  {% if data_pemeriksaan %}
                  <option value="{{ data_pemeriksaan.id }}" selected>
                    PSNTB0{{ data_pemeriksaan.id }}- {{data_pemeriksaan.nama}}
                  </option>
                  {% else %}
                  <option value="" disabled selected>Pilih Data Pasien</option>
                  {% endif %} 
                  {% for pemeriksaan in
                    daftar_tunggu %}
                  </option>

                  <option value="{{ pemeriksaan.id }}">
                    PSNTB0{{ pemeriksaan.id }} - {{ pemeriksaan.nama }}
                  </option>
                  {% endfor %}
                </select>
              </div>
              <input
                type="submit"
                class="btn btn-outline-light rounded mt-3"
                value="Pilih Data"
              />
            </form>
          </div>
        </div>
      </div>
      <div class="col-md-8">
        <div class="card">
          <div class="card-body">
            <h5 class="card-title mb-3" style="text-align: center">
              Detail Pemeriksaan Pasien
            </h5>
            <section class="section-dark">
              {% if data_pemeriksaan %}
              <div class="row">
                <div class="col-6">
                  <section class="section-dark">
                    <label for="judul">Tanggal Pemeriksaan :</label>
                    <p>{{ data_pemeriksaan.tanggal_pemeriksaan }}</p>
                    <label for="judul">Nomor Pasien :</label>
                    <p>PSNTB0{{ data_pemeriksaan.id }}</p>
                    <label for="judul">Nama Pasien :</label>
                    <p>{{ data_pemeriksaan.nama }}</p>
                    <label for="judul">RS Pemeriksaan :</label>
                    <p>{{ data_pemeriksaan.nama_rumah_sakit }}</p>
                  </section>
                </div>
                <div class="col-6">
                  <center>
                    <p>Foto Rontgen</p>
                    <img
                      src="{{ url_for('static', filename='/assets/gambar/rontgen/' + data_pemeriksaan.gambar_rontgen) }}"
                      alt="Gambar Rontgen"
                      style="max-width: 200px"
                    />
                  </center>
                </div>
              </div>
              <form
              id="upload-form"
              action="{{url_for('dokter_upload_tbc')}}"
              method="POST"
            >
            <div class="form-group">
              <input
                type="hidden"
                class="form-control"
                id="id_deteksi"
                name="id_deteksi"
                value="{{ data_pemeriksaan.id }}"
                required
              />
            </div>
              <input
              type="submit"
              class="btn btn-outline-light rounded mt-3"
              value="Deteksi TBC"
            />
            </form>
              {% else %}
              <h6 class="p-5" style="text-align: center">
                Maaf anda belum memilih data pasien
              </h6>
              {% endif %}
            </section>
          </div>
        </div>
      </div>
    </div>

    <div class="row row-card-no-pd">
      <div class="col-md-12">
        <div class="card">
          <div class="card-header">
            <div class="card-head-row">
              <h5 class="card-title">Riwayat Hasil Deteksi</h5>
            </div>
          </div>
          <div class="card-body">
            {% if riwayat %}
            <table class="table">
              <thead>
                <tr>
                  <th scope="col" width="1%">No</th>
                  <th scope="col">Nomor Pemeriksaan</th>
                  <th scope="col">Detail Pemeriksaan</th>
                  <th scope="col">Status</th>
                  <th scope="col">Persentase</th>
                  <th scope="col" width="100px">Gambar Rontgen</th>
                  <th scope="col">Hasil Analisa</th>
                </tr>
              </thead>
              <tbody>
                {% for pemeriksaan in riwayat %}
                <tr>
                    <td scope="row">{{ loop.index }}</td>
                    <td>SKR00{{ pemeriksaan.id }}</td>
                    <td>Tanggal Pemeriksaan : {{ pemeriksaan.tanggal_pemeriksaan }}<br>
                    Rumah Sakit : {{ pemeriksaan.nama_rumah_sakit }}<br>
                  Diperiksa Oleh {{ pemeriksaan.id_dokter }}</td>                          
                    <td>
                    {% if pemeriksaan.status == 'Positif' %}
                        <button class="btn btn-danger">Positive</button>
                    {% elif pemeriksaan.status == 'Negatif' %}
                        <button class="btn btn-success">Negative</button>
                    {% elif pemeriksaan.status == 'Menunggu' %}
                        <button class="btn btn-secondary">Menunggu</button>
                    {% endif %}
                  </td>
                    <td>{{ pemeriksaan.persentase }}%</td>
                    <td ><img src="{{ url_for('static', filename='xray/file.png') }}" alt="Gambar Rontgen" style="max-width: 200px;">
                    <a href="URL_GAMBAR" download>Download X-Ray</a>
                    </td>
                    <td>{{ pemeriksaan.hasil_analisa }}</td>
                </tr>
                {% endfor %}
              </tbody>
            </table>
            {% else %}
            <center>
            <h3>Maaf, Anda belum melakukan pemeriksaan.</h3>
            </center>
            {% endif %}
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
{%endblock%}
