<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta content="width=device-width, initial-scale=1.0" name="viewport" />

    <title>RumahTBC</title>
    <meta content="" name="description" />
    <meta content="" name="keywords" />

    <!-- Favicons -->
    <link
      href="{{ url_for('static', filename='assets/img/favicon.png') }}"
      rel="icon"
    />
    <link
      href="{{ url_for('static', filename='assets/img/apple-touch-icon.png') }}"
      rel="apple-touch-icon"
    />

    <!-- Google Fonts -->
    <link
      href="https://fonts.googleapis.com/css?family=Open+Sans:300,300i,400,400i,600,600i,700,700i|Raleway:300,300i,400,400i,500,500i,600,600i,700,700i|Poppins:300,300i,400,400i,500,500i,600,600i,700,700i"
      rel="stylesheet"
    />

    <!-- Google Fonts Chatbot-->
    <link
      rel="stylesheet"
      href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@48,400,0,0"
    />
    <link
      rel="stylesheet"
      href="https://fonts.googleapis.com/css2?family=Material+Symbols+Rounded:opsz,wght,FILL,GRAD@48,400,1,0"
    />

    <!-- Vendor CSS Files -->
    <link
      href="{{ url_for('static', filename='assets/vendor/animate.css/animate.min.css') }}"
      rel="stylesheet"
    />
    <link
      href="{{ url_for('static', filename='assets/vendor/bootstrap/css/bootstrap.min.css') }}"
      rel="stylesheet"
    />
    <link
      href="{{ url_for('static', filename='assets/vendor/bootstrap-icons/bootstrap-icons.css') }}"
      rel="stylesheet"
    />
    <link
      href="{{ url_for('static', filename='assets/vendor/boxicons/css/boxicons.min.css') }}"
      rel="stylesheet"
    />
    <link
      href="{{ url_for('static', filename='assets/vendor/glightbox/css/glightbox.min.css') }}"
      rel="stylesheet"
    />
    <link
      href="{{ url_for('static', filename='assets/vendor/swiper/swiper-bundle.min.css') }}"
      rel="stylesheet"
    />

    <!-- Custom CSS Chatbot-->
    <link
      href="{{ url_for('static', filename='assets/css/style-chatbot.css') }}"
      rel="stylesheet"
    />
    <!-- Custom CSS -->
    <link
      href="{{ url_for('static', filename='assets/css/style.css') }}"
      rel="stylesheet"
    />
  </head>

  <body>
    <!-- ======= Header ======= -->
    <header id="header" class="d-flex align-items-center">
      <div class="container d-flex align-items-center">
        <!-- <h1 class="logo me-auto"><a href="/">RumahTBC</a></h1> -->
        <!-- Uncomment below if you prefer to use an image logo -->
        <a href="/" class="logo me-auto"
          ><img
            src="{{ url_for('static', filename='assets/images/logorumahtbc.png') }}"
            alt="logo"
            class="img-fluid"
        /></a>

        <nav id="navbar" class="navbar">
          <ul>
            <li>
              <a
                class="nav-link {{ 'active' if aktif == 'home' else '' }}"
                href="/"
                >Home</a
              >
            </li>
            <li>
              <a
                class="nav-link {{ 'active' if aktif == 'artikel' else '' }}"
                href="/artikel"
                >Artikel Kesehatan</a
              >
            </li>
            {% if 'email' in session %}
            <li>
              <a class="nav-link" href="/chat/pasien" target="_blank"
                >Tanya Dokter</a
              >
            </li>
            <li>
              <a
                class="nav-link {{ 'active' if aktif == 'riwayat' else '' }}"
                href="/riwayatuser"
                >Riwayat Pemeriksaan</a
              >
            </li>
            {% else %} {% endif %}
            <li>
              <a
                class="nav-link {{ 'active' if aktif == 'tentang' else '' }}"
                href="/tentang"
                >Tentang Kami</a
              >
            </li>
            {% if 'email' in session %}
            <!-- Jika pengguna sudah login -->
            <li class="nav-item">
              <a
                class="nav-link {{ 'active' if aktif == 'profil' else '' }}"
                href="/profiluser"
              >
                <i class="bx bx-user-circle"></i> Akun
              </a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="/logout"
                ><i class="bx bx-log-out"></i>Logout</a
              >
            </li>
            {% else %}
            <!-- Jika pengguna belum login -->
            <li class="nav-item">
              <a class="nav-link getstarted" href="/login">Login</a>
            </li>
            <li class="nav-item">
              <a class="nav-link getregis" href="/register">Register</a>
            </li>
            {% endif %}
          </ul>
          <i class="bi bi-list mobile-nav-toggle"></i>
        </nav>
        <hr
          style="
            position: absolute;
            bottom: 0;
            left: 0;
            width: 100%;
            height: 3px;
            background-color: #006400;
            margin: 0;
          "
        />
        <!-- .navbar -->
      </div>
    </header>
    <!-- End Header -->

    <!-- Chatbot -->
    <button class="chatbot-toggler">
      <span class="material-symbols-rounded">mode_comment</span>
      <span class="material-symbols-outlined">close</span>
    </button>
    <div class="chatbot">
      <header>
        <h2>Chatbot</h2>
        <span class="close-btn material-symbols-outlined">close</span>
      </header>
      <ul class="chatbox">
        <li class="chat incoming">
          <span class="material-symbols-outlined">smart_toy</span>
          <p>Hi semua 👋<br />Ada yang bisa saya bantu?</p>
        </li>
      </ul>
      <div class="chat-input">
        <textarea
          placeholder="Tulis Sebuah Pesan disini..."
          spellcheck="false"
          required
        ></textarea>
        <span id="send-btn" class="material-symbols-rounded">send</span>
      </div>
    </div>
    <!-- End Chatbot -->

    {%block content%}

    <!-- ======= Hero Section ======= -->
    <section id="hero" class="scrolled-offset">
      <div
        id="heroCarousel"
        data-bs-interval="5000"
        class="carousel slide carousel-fade"
        data-bs-ride="carousel"
      >
        <ol class="carousel-indicators" id="hero-carousel-indicators"></ol>

        <div class="carousel-inner" role="listbox">
          <!-- Slide 1 -->
          <div
            class="carousel-item active"
            style="background-image: url(assets/img/slide/slide-1.jpg)"
          >
            <div class="carousel-container">
              <div class="container">
                <h2 class="animate__animated animate__fadeInDown">
                  Welcome to <span>RumahTBC</span>
                </h2>
                <p class="animate__animated animate__fadeInUp">
                  Selamat datang di RumahTBC, platform kesehatan yang
                  didedikasikan untuk deteksi dan rehabilitasi penyakit
                  Tuberkulosis (TBC). Kami berkomitmen untuk memberikan
                  informasi, layanan, dan dukungan yang Anda butuhkan dalam
                  perjuangan melawan penyakit TBC.
                </p>
                {% if 'email' in session %} {% else %}
                <a
                  href="/register"
                  class="btn-get-started animate__animated animate__fadeInUp scrollto"
                  >Daftar Sekarang</a
                >
                {% endif %}
              </div>
            </div>
          </div>

          <!-- Slide 2 -->
          <div
            class="carousel-item"
            style="background-image: url(assets/img/slide/slide-2.jpg)"
          >
            <div class="carousel-container">
              <div class="container">
                <h2 class="animate__animated animate__fadeInDown">
                  Welcome to <span>RumahTBC</span>
                </h2>
                <p class="animate__animated animate__fadeInUp">
                  Selamat datang di RumahTBC, platform kesehatan yang
                  didedikasikan untuk deteksi dan rehabilitasi penyakit
                  Tuberkulosis (TBC). Kami berkomitmen untuk memberikan
                  informasi, layanan, dan dukungan yang Anda butuhkan dalam
                  perjuangan melawan penyakit TBC.
                </p>
                <a
                  href="/register"
                  class="btn-get-started animate__animated animate__fadeInUp scrollto"
                  >Daftar Sekarang</a
                >
              </div>
            </div>
          </div>

          <!-- Slide 3 -->
          <div
            class="carousel-item"
            style="background-image: url(assets/img/slide/slide-3.jpg)"
          >
            <div class="carousel-container">
              <div class="container">
                <h2 class="animate__animated animate__fadeInDown">
                  Welcome to <span>RumahTBC</span>
                </h2>
                <p class="animate__animated animate__fadeInUp">
                  Selamat datang di RumahTBC, platform kesehatan yang
                  didedikasikan untuk deteksi dan rehabilitasi penyakit
                  Tuberkulosis (TBC). Kami berkomitmen untuk memberikan
                  informasi, layanan, dan dukungan yang Anda butuhkan dalam
                  perjuangan melawan penyakit TBC.
                </p>
                <a
                  href="/register"
                  class="btn-get-started animate__animated animate__fadeInUp scrollto"
                  >Daftar Sekarang</a
                >
              </div>
            </div>
          </div>
        </div>

        <a
          class="carousel-control-prev"
          href="#heroCarousel"
          role="button"
          data-bs-slide="prev"
        >
          <span
            class="carousel-control-prev-icon bi bi-chevron-left"
            aria-hidden="true"
          ></span>
        </a>

        <a
          class="carousel-control-next"
          href="#heroCarousel"
          role="button"
          data-bs-slide="next"
        >
          <span
            class="carousel-control-next-icon bi bi-chevron-right"
            aria-hidden="true"
          ></span>
        </a>
      </div>
    </section>
    <!-- End Hero -->

    <main id="main">
      <!-- ======= Featured Services Section ======= -->
      <section id="featured-services" class="featured-services section-bg">
        <div class="container">
          <div class="row no-gutters">
            <div class="col-lg-4 col-md-6">
              <div class="icon-box">
                <div class="icon"><i class="bi bi-laptop"></i></div>
                <h4 class="title">Tanya Dokter</h4>
                <p class="description">
                  Fitur chat memungkinkan pengguna untuk langsung berkomunikasi
                  dengan dokter ahli dalam bidang TBC. Pengguna dapat mengajukan
                  pertanyaan, membagikan gejala, atau mendiskusikan rencana
                  pengobatan secara langsung melalui platform.
                </p>
              </div>
            </div>
            <div class="col-lg-4 col-md-6">
              <div class="icon-box">
                <div class="icon">
                  <i class="bi bi-clipboard2-pulse-fill"></i>
                </div>
                <h4 class="title">Riwayat Pemeriksaan</h4>
                <p class="description">
                  Memberikan akses ke riwayat pemeriksaan sebelumnya,
                  memungkinkan pasien untuk melacak perkembangan kondisi
                  kesehatan terkait TBC.
                </p>
              </div>
            </div>
            <div class="col-lg-4 col-md-6">
              <div class="icon-box">
                <div class="icon"><i class="bi bi-clock-history"></i></div>
                <h4 class="title">Chatbot</h4>
                <p class="description">
                  Terdapat Fitur Chatbot yang dapat memberikan dukungan dan
                  informasi kapanpun, sehingga pengguna dapat mengakses bantuan
                  dan jawaban atas pertanyaan mereka.
                </p>
              </div>
            </div>
          </div>
        </div>
      </section>
      <!-- End Featured Services Section -->

      <section>
        <div class="container">
          <div class="section-title">
            <h2>Artikel Kesehatan</h2>
          </div>
          <div class="row">
            {% for article in latest_articles %}

            <div class="col-md-6 mb-4">
              <div class="card border-0">
                <div class="card-body">
                  <h4 class="card-title">{{ article.judul }}</h4>
                  <div class="row">
                    <div class="col-6">
                      <h6 class="card-subtitle mb-2 text-muted">
                        Penulis : {{ article.penulis }}
                      </h6>
                    </div>
                    <div class="col-6">
                      <h6 class="card-subtitle mb-2 text-muted">
                        Kategori : {{ article.kategori }}
                      </h6>
                    </div>
                  </div>

                  <p class="card-text">{{ article.isi | safe }} ......</p>
                  <a
                    href="/detailartikel/{{ article.id }}"
                    class="btn btn-success"
                    >Baca Selengkapnya</a
                  >
                </div>
              </div>
            </div>

            {% endfor %}
          </div>
        </div>
      </section>

      <!-- ======= Our Clients Section ======= -->
      <section id="clients" class="clients">
        <div class="container">
          <div class="section-title">
            <h2>Rumah Sakit Kemitraan</h2>
          </div>

          <div class="clients-slider swiper">
            <div class="swiper-wrapper align-items-center">
              <div class="swiper-slide">
                <img
                  src="{{ url_for('static', filename='assets/images/clients/client-1.png') }}"
                  class="img-fluid"
                  alt=""
                />
              </div>
              <div class="swiper-slide">
                <img
                  src="{{ url_for('static', filename='assets/images/clients/client-2.png') }}"
                  class="img-fluid"
                  alt=""
                />
              </div>
              <div class="swiper-slide">
                <img
                  src="{{ url_for('static', filename='assets/images/clients/client-3.png') }}"
                  class="img-fluid"
                  alt=""
                />
              </div>
              <div class="swiper-slide">
                <img
                  src="{{ url_for('static', filename='assets/images/clients/client-4.png') }}"
                  class="img-fluid"
                  alt=""
                />
              </div>
              <div class="swiper-slide">
                <img
                  src="{{ url_for('static', filename='assets/images/clients/client-5.png') }}"
                  class="img-fluid"
                  alt=""
                />
              </div>
              <div class="swiper-slide">
                <img
                  src="{{ url_for('static', filename='assets/images/clients/client-6.png') }}"
                  class="img-fluid"
                  alt=""
                />
              </div>
              <div class="swiper-slide">
                <img
                  src="{{ url_for('static', filename='assets/images/clients/client-7.png') }}"
                  class="img-fluid"
                  alt=""
                />
              </div>
              <div class="swiper-slide">
                <img
                  src="{{ url_for('static', filename='assets/images/clients/client-8.png') }}"
                  class="img-fluid"
                  alt=""
                />
              </div>
            </div>
            <br />
            <div class="swiper-pagination"></div>
          </div>
        </div>
      </section>
      <!-- End Our Clients Section -->

      <!-- ======= Contact Section ======= -->
      <section id="contact" class="contact">
        <div class="container">
          <div class="section-title">
            <h2>Hubungi Kami</h2>
          </div>

          <div class="row">
            <div class="col-lg-5 d-flex align-items-stretch">
              <div class="info">
                <center class="mb-4"><h5>Kontak</h5></center>
                <div class="address">
                  <i class="bi bi-geo-alt"></i>
                  <h4>Lokasi:</h4>
                  <p>
                    Jalan AIP Jl. KS. Tubun No.2, Kejambon, Tegal Timur, Kota
                    Tegal, Jawa Tengah 52124
                  </p>
                </div>

                <div class="email">
                  <i class="bi bi-envelope"></i>
                  <h4>Email:</h4>
                  <p>info@rumahtbc.com</p>
                </div>

                <div class="phone">
                  <i class="bi bi-phone"></i>
                  <h4>Telpon:</h4>
                  <p>(021) 881 898 907</p>
                </div>

                <iframe
                  src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d15844.190010819813!2d109.12494500629884!3d-6.8849136057001425!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x2e6fb9cd29ecad85%3A0xb426aa98f75a5396!2sRumah%20Sakit%20Umum%20Daerah%20(RSUD)%20Kardinah%2C%20Kota%20Tegal!5e0!3m2!1sid!2sid!4v1699261066533!5m2!1sid!2sid"
                  frameborder="0"
                  style="border: 0; width: 100%; height: 290px"
                  allowfullscreen
                ></iframe>
              </div>
            </div>

            <div class="col-lg-7 mt-5 mt-lg-0 d-flex align-items-stretch">
              <form
                action="/tambah_review"
                method="post"
                role="form"
                class="php-email-form"
              >
                <center class="mb-4"><h5>Kritik dan Saran</h5></center>
                <div class="row">
                  <div class="form-group col-md-6">
                    <label for="name">Nama Lengkap</label>
                    <input
                      type="text"
                      name="name"
                      class="form-control"
                      id="name"
                      required
                    />
                  </div>
                  <div class="form-group col-md-6 mt-3 mt-md-0">
                    <label for="name">Email</label>
                    <input
                      type="email"
                      class="form-control"
                      name="email"
                      id="email"
                      required
                    />
                  </div>
                </div>
                <div class="form-group mt-3">
                  <label for="name">Ulasan</label>
                  <textarea
                    class="form-control"
                    name="message"
                    rows="10"
                    required
                  ></textarea>
                </div>
                <div class="my-3">
                  {% with messages = get_flashed_messages() %} {% if messages %}
                  <ul class="flashes">
                    {% for message in messages %}
                    <li>{{ message }}</li>
                    {% endfor %}
                  </ul>
                  {% endif %} {% endwith %}
                </div>
                <div class="text-center">
                  <button type="submit">Kirim Pesan</button>
                </div>
              </form>
            </div>
          </div>
        </div>
      </section>
      <!-- End Contact Section -->
    </main>
    <!-- End #main -->
    {%endblock%}

    <!-- ======= Footer ======= -->
    <footer id="footer">
      <div class="container">
        <img
          src="{{ url_for('static', filename='assets/images/logorumahtbc.png') }}"
          alt="logo"
          height="50px"
          class="mb-3"
        />
        <p>
          Platform kesehatan yang didedikasikan untuk deteksi dan rehabilitasi
          penyakit Tuberkulosis (TBC).
        </p>
        <div class="social-links">
          <a href="#" class="twitter"><i class="bx bxl-twitter"></i></a>
          <a href="#" class="facebook"><i class="bx bxl-facebook"></i></a>
          <a href="#" class="instagram"><i class="bx bxl-instagram"></i></a>
          <a href="#" class="google-plus"><i class="bx bxl-skype"></i></a>
          <a href="#" class="linkedin"><i class="bx bxl-linkedin"></i></a>
        </div>
        <div class="copyright">
          &copy; Copyright <strong><span>2023</span></strong
          >. All Rights Reserved
        </div>
        <div>Design By Bootstrapmade</div>
      </div>
    </footer>
    <!-- End Footer -->

    <a
      href="#"
      class="back-to-top d-flex align-items-center justify-content-center"
      ><i class="bi bi-arrow-up-short"></i
    ></a>

    <!-- Vendor JS Files -->
    <script src="{{ url_for('static', filename='assets/vendor/bootstrap/js/bootstrap.bundle.min.js') }}"></script>
    <script src="{{ url_for('static', filename='assets/vendor/glightbox/js/glightbox.min.js') }}"></script>
    <script src="{{ url_for('static', filename='assets/vendor/isotope-layout/isotope.pkgd.min.js') }}"></script>
    <script src="{{ url_for('static', filename='assets/vendor/swiper/swiper-bundle.min.js') }}"></script>

    <!-- Template Main JS File -->
    <script src="{{ url_for('static', filename='assets/js/script.js') }}"></script>

    <!-- JS Chatbot-->
    <script src="{{ url_for('static', filename='assets/js/script-chatbot.js') }}"></script>
  </body>
</html>
