{%extends "index.html"%} {%block content%}
<main id="main" class="scrolled-offset">
  <section>
    <div class="row">
      <div class="col-5 offset-2">
        <center class="mb-3">
          <img
            src="{{ url_for('static', filename='assets/images/logorumahtbc.png') }}"
            alt="logo"
            height="60px"
          />
        </center>
        <p>
          Selamat datang di RumahTBC, platform kesehatan yang didedikasikan
          untuk deteksi dan rehabilitasi penyakit Tuberkulosis (TBC). Kami
          berkomitmen untuk memberikan informasi, layanan, dan dukungan yang
          Anda butuhkan dalam perjuangan melawan penyakit TBC.
        </p>

        <h5>Apa yang Kami Tawarkan</h5>
        <ul>
          <li>
            Deteksi Dini TBC: Kami menyediakan alat dan informasi yang
            diperlukan untuk mendeteksi gejala TBC lebih awal.
          </li>
          <li>
            Informasi Pendidikan: Kami menyediakan informasi komprehensif
            tentang TBC, termasuk gejala, penyebab, dan cara mencegah penularan.
          </li>
          <li>
            Dukungan dan Konseling: Kami memahami bahwa perjalanan melawan TBC
            bisa sangat menantang.
          </li>
          <li>
            Rehabilitasi: Setelah diagnosis dan pengobatan, rehabilitasi adalah
            bagian penting dalam pemulihan.
          </li>
          <li>
            Komunitas yang Mendukung: Kami membangun komunitas yang mendukung
            individu yang terkena TBC.
          </li>
        </ul>
      </div>

      <div class="col-3">
        <!-- Form login goes here -->
        <h3 class="display-7 fw-bold">Login</h3>
        <form class="login-form" action="{{ url_for('login') }}" method="POST">
          {% with messages = get_flashed_messages() %} {% if messages %}
          <ul>
            {% for message in messages %}
            <li style="color: red">{{ message }}</li>
            {% endfor %}
          </ul>
          {% endif %} {% endwith %}
          <div class="mb-3">
            <label for="email" class="form-label">Email</label>
            <input
              type="text"
              class="form-control"
              id="email"
              name="email"
              required
              autofocus
            />
          </div>
          <div class="mb-3">
            <label for="password" class="form-label">Password</label>
            <input
              type="password"
              class="form-control"
              id="password"
              name="password"
              required
            />
          </div>
          <button type="submit" class="btn btn-success">Login</button>
        </form>

        <!-- Text for registration -->
        <p class="mt-3">
          Belum memiliki akun? <a href="/register">Daftar sekarang</a>
        </p>
      </div>
    </div>
  </section>
</main>

{%endblock%}
