{%extends "index.html"%} {%block content%}
<main id="main">
  <section>
    <div class="row">
      <div class="col-5 offset-lg-2">
        <h3 class="display-7 fw-bold">RumahTBC</h3>
        <p>
          Selamat datang di RumahTBC, platform kesehatan yang didedikasikan
          untuk deteksi dan rehabilitasi penyakit Tuberkulosis (TBC). Kami
          berkomitmen untuk memberikan informasi, layanan, dan dukungan yang
          Anda butuhkan dalam perjuangan melawan penyakit TBC.
        </p>

        <h5>Apa yang Kami Tawarkan</h5>
        <ul>
            <li>Deteksi Dini TBC: Kami menyediakan alat dan informasi yang diperlukan untuk mendeteksi gejala TBC lebih awal.</li>
            <li>Informasi Pendidikan: Kami menyediakan informasi komprehensif tentang TBC, termasuk gejala, penyebab, dan cara mencegah penularan.</li>
            <li>Dukungan dan Konseling: Kami memahami bahwa perjalanan melawan TBC bisa sangat menantang.</li>
            <li>Rehabilitasi: Setelah diagnosis dan pengobatan, rehabilitasi adalah bagian penting dalam pemulihan.</li>
            <li>Komunitas yang Mendukung: Kami membangun komunitas yang mendukung individu yang terkena TBC.</li>
        </ul>

      </div>

      <div class="col-3">
        <!-- Form login goes here -->
        <h3 class="display-7 fw-bold">Login</h3>
        <form>
          <div class="mb-3">
            <label for="username" class="form-label">Username</label>
            <input
              type="text"
              class="form-control"
              id="username"
              name="username"
              required
            />
          </div>
          <div class="mb-3">
            <label for="password" class="form-label">Password</label>
            <input
              type="password"
              class="form-control"
              id="password"
              name="password"
              required
            />
          </div>
          <button type="submit" class="btn btn-primary">Login</button>
        </form>
      </div>
    </div>
  </section>
</main>

{%endblock%}
