{%extends "index.html"%} {%block content%}
<main id="main">
  <section>
      <div class="row">
          <div class="col-8 offset-2">
              <div class="section-title">
                  <h2>Profile Saya</h2>
              </div>
              <div class="row">
                  <div class="col-md-4">
                      <!-- Tampilkan foto profil -->
                      <img src="{{ url_for('static', filename='assets/images/fototeam.png') }}" alt="User Profile Picture" class="img-thumbnail rounded mx-auto d-block">
                  </div>
                  <div class="col-md-8">
                      <form method="POST" action="update-profile-endpoint" enctype="multipart/form-data">
                          <div class="row mb-3">
                              <label for="name" class="col-md-4 col-form-label text-md-end">Nama Lengkap</label>
                              <div class="col-md-6">
                                  <input id="name" type="text" class="form-control" name="name" value="{{ user_profile.nama_lengkap }}" required>
                              </div>
                          </div>
                          <div class="row mb-3">
                              <label for="nik" class="col-md-4 col-form-label text-md-end">NIK</label>
                              <div class="col-md-6">
                                  <input id="nik" type="number" class="form-control" name="nik" value="{{ user_profile.nik }}" required>
                              </div>
                          </div>
                          <div class="row mb-3">
                              <label for="email" class="col-md-4 col-form-label text-md-end">Email</label>
                              <div class="col-md-6">
                                  <input id="email" type="email" class="form-control" name="email" value="{{ user_profile.email }}" required>
                              </div>
                          </div>
                          <div class="row mb-3">
                              <label for="no_hp" class="col-md-4 col-form-label text-md-end">No HP</label>
                              <div class="col-md-6">
                                  <input id="no_hp" type="number" class="form-control" name="no_hp" value="{{ user_profile.no_hp }}" required>
                              </div>
                          </div>
                          <!-- Field Jenis Kelamin -->
                          <div class="row mb-3">
                              <label class="col-md-4 col-form-label text-md-end">Jenis Kelamin</label>
                              <div class="col-md-6">
                                  <div class="form-check form-check-inline">
                                      <input class="form-check-input" type="radio" name="gender" id="male" value="male" {% if user_profile.jenis_kelamin == 'lakilaki' %}checked{% endif %}>
                                      <label class="form-check-label" for="male">Laki-Laki</label>
                                  </div>
                                  <div class="form-check form-check-inline">
                                      <input class="form-check-input" type="radio" name="gender" id="female" value="female" {% if user_profile.jenis_kelamin == 'perempuan' %}checked{% endif %}>
                                      <label class="form-check-label" for="female">Perempuan</label>
                                  </div>
                              </div>
                          </div>
                          
                          <!-- Field Tanggal Lahir -->
                          <div class="row mb-3">
                              <label for="birthdate" class="col-md-4 col-form-label text-md-end">Tanggal Lahir</label>
                              <div class="col-md-6">
                                  <input id="birthdate" type="date" class="form-control" name="birthdate" value="{{ user_profile.tanggal_lahir|default('') }}">
                              </div>
                          </div>
                          <!-- Field Alamat -->
                          <div class="row mb-3">
                              <label for="address" class="col-md-4 col-form-label text-md-end">Alamat</label>
                              <div class="col-md-6">
                                  <textarea id="address" class="form-control" name="address" rows="3">{{ user_profile.alamat }}</textarea>
                              </div>
                          </div>
                          <div class="row mb-3">
                              <label for="photo" class="col-md-4 col-form-label text-md-end">Change Photo</label>
                              <div class="col-md-6">
                                  <input id="photo" type="file" class="form-control" name="photo">
                              </div>
                          </div>
                          <div class="row mb-0">
                              <div class="col-md-6 offset-md-4">
                                  <button type="submit" class="btn btn-primary">Ubah Profile</button>
                                  <a href="" class="btn btn-success">Ubah Password</a>
                              </div>
                          </div>
                      </form>
                  </div>
              </div>
          </div>
      </div>
  </section>
</main>

{%endblock%}