{%extends "index.html"%} {%block content%}
<main id="main">
  <section>
      <div class="row">
          <div class="col-lg-8 offset-lg-2">
              <div class="section-title">
                <h2>Riwayat Pemeriksaan</h2>
              </div>
              <div class="container mt-4">
                <div class="row">
                  <div class="col">
                    <h4>Data Pemeriksaan Terbaru</h4>
                    <table class="table">
                      <tr>
                        <th>Tanggal Pemeriksaan</th>
                        <th>Hasil Pemeriksaan</th>
                      </tr>
                      <tr>
                        <td>5 November 2023</td>
                        <td>Negatif</td>
                      </tr>
                    </table>
                  </div>
                </div>
              </div>
          </div>
      </div>
  </div>
  </section>
</main>
{%endblock%}
