{%extends "index.html"%} {%block content%}
<main id="main" class="scrolled-offset">
  <section>
      <div class="row">
          <div class="col-8 offset-2">
              <div class="section-title">
                <h2>Tentang Kami</h2>
              </div>
              <center class="mb-5">
                <img
                  src="{{ url_for('static', filename='assets/images/logorumahtbc.png') }}"
                  alt="logo"
                  height="80px"
                />
              </center>
              <p>Selamat datang di RumahTBC, platform kesehatan yang didedikasikan untuk deteksi dan rehabilitasi penyakit Tuberkulosis (TBC). Kami berkomitmen untuk memberikan informasi, layanan, dan dukungan yang Anda butuhkan dalam perjuangan melawan penyakit TBC.</p>

              <h4>Misi Kami</h4>
              <p>Misi utama RumahTBC adalah untuk meningkatkan kesadaran tentang TBC, mendeteksi penyakit ini lebih awal, dan membantu individu yang terkena TBC untuk mendapatkan perawatan dan rehabilitasi yang tepat. Kami percaya bahwa pendekatan holistik dan pendidikan adalah kunci dalam melawan TBC.</p>

              <h4>Apa yang Kami Tawarkan</h4>
              <ul>
                  <li>Deteksi Dini TBC: Kami menyediakan alat dan informasi yang diperlukan untuk mendeteksi gejala TBC lebih awal.</li>
                  <li>Informasi Pendidikan: Kami menyediakan informasi komprehensif tentang TBC, termasuk gejala, penyebab, dan cara mencegah penularan.</li>
                  <li>Dukungan dan Konseling: Kami memahami bahwa perjalanan melawan TBC bisa sangat menantang.</li>
                  <li>Rehabilitasi: Setelah diagnosis dan pengobatan, rehabilitasi adalah bagian penting dalam pemulihan.</li>
                  <li>Komunitas yang Mendukung: Kami membangun komunitas yang mendukung individu yang terkena TBC.</li>
              </ul>

              <h4>Tim Kami</h4>
              <p>Tim di belakang RumahTBC terdiri dari ahli kesehatan, dokter, peneliti, dan individu yang peduli dengan upaya pencegahan dan pengobatan TBC.</p>

              <p>Kami mengundang Anda untuk menjelajahi situs web kami, mengakses sumber daya yang ada, dan bergabung dalam upaya kami untuk melawan TBC. Bersama-sama, kita dapat mengurangi dampak penyakit ini dan membantu individu yang terkena TBC untuk hidup lebih sehat dan bahagia. Jika Anda memiliki pertanyaan atau butuh bantuan, jangan ragu untuk menghubungi kami.</p>
          </div>
      </div>
  </div>
  </section>
</main>
{%endblock%}
